import React, { FC } from 'react';

export interface {{pascalCase componentName}}{{pascalCase componentType}}Props {
    /* Props here */
}

export const {{pascalCase componentName}}{{pascalCase componentType}}: FC = (props: {{pascalCase componentName}}{{pascalCase componentType}}Props) => {
    return (
        <div>
            {{pascalCase componentName}}{{titleCase componentType}} Preview
        </div>
    )
}