import React, { FC } from 'react';

export interface {{titleCase componentName}}{{titleCase componentType}}Props {
    /* Props here */
}

export const {{titleCase componentName}}{{titleCase componentType}}: FC = (props: {{titleCase componentName}}{{titleCase componentType}}Props) => {
    return (
        <div>
            {{titleCase componentName}}{{titleCase componentType}} Preview
        </div>
    )
}