import React, { FC } from 'react';

export interface {{componentName}}{{componentType}}Props {

}

export const {{componentName}}{{componentType}}:FC<{{componentName}}{{componentType}}Props> = (props) => {
    return (
    <div>{{componentName}}{{componentType}} here</div>
    );
    }